body { padding:5px; margin:0; font:14px Arial; }
pre { padding:5px; border:1px solid #DDD; background:#FFC; line-height:20px; _letter-spacing:-1px }
ul { margin:0; padding:0 0 0 15px }
ol { margin:0; padding:0 0 0 25px }
li { line-height:22px; }
p { margin:0; padding:5px 0 }
em { font:bold 14px Arial; color:#066 }

#page { width:1000px; margin:0 auto; overflow:hidden }
#header { margin:0 0 20px; }
#header h1 { margin:0; font-family:"微软雅黑" }
#header h4 { margin:0; font-size:14px; color:#999 }

#intro { position:relative }
#intro .changelog ul { list-style:outside square none; margin:0 0 0 30px }
#intro h4 { margin:0; padding:5px 0; font-size:14px; }

#demo h3 { padding:15px 0 0; border-top:1px dashed #DDD; font-size:18px; font-family:"微软雅黑"; clear:both }
#demo ul { padding:0; list-style:none; overflow:hidden; margin:0 -10px; zoom:1 }
#demo ul li { width:340px; float:left }
#demo ul li .kandyTabs, #demo ul li .kandyFold, #demo .kandySlide { margin:0 10px 20px; }

#footer { text-align:center; font-size:12px; color:#999; clear:both }
#footer a { color:#999 }
/*=custom tab css*/
.kandyTabs { margin:0 0 20px }
.tabtitle { color:#666; font-family:"微软雅黑" }
.tabbtn { cursor:default }
.kandyTabs pre, .kandyFold pre { margin:0 }

#intro .tabexcept { position:absolute; right:0; top:9px; font-size:12px; color:#666 }
#intro .lastmodify { padding:5px; text-align:right; position:static }

#intro .tabtitle { padding:0 0 0 1px; }
#intro .tabbtn { background:none; border:none; border-right:1px dashed #ccc; margin:0 0 2px; padding:0 8px }
#intro .tabcur { background:#FFF; border:1px solid #DDD; margin:0 0 -1px -1px; border-bottom:1px solid #FFF; line-height:25px }
#intro .kandyTabs { margin:0; }
#intro .tabbtn { cursor:pointer }
#intro .tabnav { margin:-20px 0 0 }
#intro .tabprev:hover, #intro .tabnext:hover { color:#F00 }
#intro .tabprevno, #intro .tabnextno { color:#ccc!important }
#intro .tabpage { margin:0 5px }
#intro .kandyTabs .tabcont { margin:0 }
#intro .kandyTabs .tabbtn { cursor:default }
#intro .kandyFold { border-width:1px; }
#intro .kandyFold .tabbtn { cursor:pointer; border:none; border-top:1px solid #DDD; margin:-1px 0 0; font:12px Arial; padding:5px 10px; background:#EEE; position:static }
#intro .kandyFold .tabcur { cursor:default; border-bottom:1px dashed #ddd; font:bold 14px Arial; background:#F5F5F5; }
#intro .kandyFold .tabon { background:#F5F5F5; font-weight:bold }
#intro .kandyFold .tabcont { font-size:12px }

#fade { padding:0 }
#fade .tabtitle { text-align:center; background:#DDD; padding:3px 3px 0; line-height:20px; border-bottom:1px solid #CCC; }
#fade .tabtitle .tabbtn { border:none; margin:0 2px 3px; line-height:17px; background:none }
#fade .tabtitle .tabcur { border:1px solid #ccc; border-color:#ccc #fff #fff #ccc; line-height:22px; margin:0 2px -1px; background:#fff }
#fade .tabbody { border:none; margin:0 }
#fade .tabbody .tabcont { background:none; margin:1px 0 0 }

#slifade { position:relative }
#slifade .tabtitle { position:absolute; right:2px; bottom:2px; z-index:4; border:none; }
#slifade .tabtitle .tabbtn { margin:0 0 0 2px; border:1px solid #CCC }
#slifade .tabtitle .tabcur { border:1px solid #DDD; border-top:1px solid #FFF; top:-1px; margin:-3px 0 0 2px; left:2px\9; position:relative; line-height:24px }
#slifade .tabbody { margin:0 0 26px; border-width:1px }

#slide { padding:0; border:1px solid #DDD; overflow:hidden; width:318px; }
#slide .tabtitle { width:325px; }
#slide .tabtitle .tabbtn { background:none; border-width:0 1px 0 0; cursor:pointer; width:69px; margin:0 0 -1px; text-align:center; }
#slide .tabtitle .tabcur { background:#FFF; cursor:default; width:68px; _position:relative}
#slide .tabbody { border:none }

#roll .tabtitle { text-align:right }
#roll .tabtitle .tabbtn { background:none; border:1px solid #DDD; margin:0 0 1px 1px; cursor:pointer }
#roll .tabtitle .tabcur { background:#FFF; margin:0 0 -1px 1px; border-bottom:2px solid #FFF; cursor:default }

#rollleft .tabtitle { float:left; margin:0 2px -2px 0; _margin-right:-1px; border:none; }
#rollleft .tabtitle .tabbtn { display:block; width:70px; margin:0 0 2px; background:none; border:1px solid #DDD; cursor:pointer }
#rollleft .tabtitle .tabcur { border:1px solid #ddd; background:#DDD; margin:0 -2px 2px 0; width:72px; cursor:default; _position:relative }
#rollleft .tabbody { border-width:1px 1px 1px 2px; float:right }
#rollleft .tabcont { margin:0 5px; width:703px; overflow:hidden; }


/*=custom fold css*/
#fold-fade .tabbtn { cursor:pointer }
#fold-fade .tabcur { display:none; }
.verfold li{width:510px!important}
.verfold li dl{padding:5px 0 5px 5px;border:1px solid #DDD;margin:0 10px 20px}
.verfold li dl .tabbtn{width:40px;height:220px;margin:0;padding:0;border:1px solid #DDD;text-align:center;}
.verfold li dl .tabcont{height:220px;margin:0;}
.verfold li dl dd pre{margin:0}
#fold-left .tabbtn{cursor:pointer;float:left}
#fold-left .tabon{background:#F5F5F5}
#fold-left .tabcur{border-right:1px dashed #DDD;cursor:default;background:#F5F5F5;}
#fold-left .tabcont{height:210px;padding:5px;width:298px;border:1px solid #DDD;border-left:none;float:left}
#fold-left .tabfold{padding:0;border:none}
#fold-right .tabbtn{background:#f5f5f5;border:1px solid #FFF;}
#fold-right .tabcur{background:#eee;}
#fold-right .tabcont{width:308px;background:#eee;height:220px;padding:0;border:1px solid #FFF;}
#fold-right .tabfold{padding:0;border:none}
/*=custom slide css*/
#imgslide { border:1px solid #DDD; padding:3px; width:490px; margin:0 0 20px!important; float:left; }
#imgslide .tabbody { position:relative; z-index:2 }
#imgslide .tabprocess { position:absolute; width:496px; height:176px; z-index:0; left:0; top:0; background:#F60; }

#imgnavslide { border:1px solid #DDD; padding:3px; width:490px; margin:0 0 20px!important; float:right; position:relative }
#imgnavslide .tabtitle { display:none }
#imgnavslide .tabnav em { position:absolute; left:0; top:60px; padding:10px 5px; background:#FFF; filter:alpha(opacity=50); opacity:.5; font-size:30px; }
#imgnavslide .tabnav em:hover { color:#F00; filter:alpha(opacity=80); opacity:.8; cursor:pointer }
#imgnavslide .tabnav .tabprevno, #imgnavslide .tabnav .tabnextno { display:none }
#imgnavslide .tabnav .tabnext { right:0; left:auto; }
#imgnavslide .tabpage { position:absolute; left:218px; top:68px; padding:10px; font:bold 20px Arial; background:#FFF; filter:alpha(opacity=50); opacity:.5; -moz-border-radius:10px; color:#F00; zoom:1 }

#customslide { clear: both; margin: 0 0 20px!important; border:1px solid #DDD; padding:4px; }
#customslide .tabtitle { display:none }
#customslide .tabcont { position:relative; zoom:1 }
#customslide .tabcont p { position:absolute; bottom:0; left:0; width:100%; background:#000; color:#FFF; text-indent:10px; font-size:12px }

#imgloop { float:left; margin:0 0 20px; width:288px; zoom:1 }
.kandyLoop .tabtitle { padding:7px 5px 9px; margin-right:33px }
.kandyLoop .tabbtn { cursor:pointer }
.kandyLoop .tabcur { cursor:default }
.kandyLoop .tabbody { padding:10px 5px; clear:both }
#imgloop .tabbody .tabroll .tabcont { margin:10px 0; }
.kandyLoop p { display:inline; }
.kandyLoop p img { border:1px solid #CCC; margin:0 5px; }
.kandyLoop .tabnav{position:absolute;top:7px;right:5px;}
.kandyLoop .tabnav em{display:block;float:left;margin:0 0 0 5px;height:10px;font:10px/10px Arial;width:10px;text-align:center;overflow:hidden;border:1px solid #CCC;background:#DDD;color:#F30}
.kandyLoop .tabnav em:hover{background:#F30;color:#fff;border-color:#C00}
.kandyLoop .tabnav .tabprevno,.kandyLoop .tabnav .tabnextno{background:#DDD!important;color:#CCC!important;border-color:#CCC!important}
.kandyLoop .tabpage{display:none}
.kandyLoop .tabexcept { float:left; font:bold 12px Arial; margin:4px 0 0 4px; padding:0; padding:0 0 3px }

#imgscroll{width:656px;margin:0 0 20px 44px;float:left;float:none\9}
#imgscroll .tabtitle{margin-right:33px}
#imgscroll .tabbody{width:644px!important;padding:5px}
#imgscroll .tabcont{width:184px;margin:0 -5px 0 5px}
#imgscroll .tabcont p{float:left;}

#leftslide{}
#leftslide dt{float:left;width:80px;height:200px;background:#F60;margin:0;padding:0}
#leftslide dd{float:left;width:200px;height:200px;background:#6CC;margin:0;}
#leftslide .tabfold{}




#tuidui{
	height:450px; width:250px;}